*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --white : #fff;
    --blue: #5E96D1;
    --lightblue:#E8EFF7;
    --darkblue: #3069ef;
    --orange: #ffa500;
    --black: rgb(0, 0, 0);
    --gray:grey;
    --footer:#2760A7;
    ;

    
}

.navbar{

}

.logo{
    mix-blend-mode: darken;
}

.search{
    border-left: 1px solid;
    /* padding-left: 15px; */
}
.search img{
    width: 20px;
}
.nav-link{
    color: var(--gray);
    margin: 19px;
    font-size: 18px;
    border: 1px solid var(--white);

    font-weight: 600;
}
 .nav-link:hover{
    border: 1px solid var(--darkblue);
    color: var(--darkblue) !important;
    transition: 0.5s ease-in-out;
}

.company-head{
    background-color: var(--darkblue);
    /* margin-top: 250px; */
}
.company-head h1{
    font-weight: normal;

}
.current a{
    text-decoration: none;
}
.about-us{
    background-color: var(--lightblue);
}



.footer{
    background-color: var(--footer);
    color: var(--white);
    font-size: 13px;
}
.western-about p{
    line-height: 1.8;
    font-size: 15px;
}
.western-about img{
    mix-blend-mode: darken;
}
.footer ul li {
    text-decoration: none;
    color: var(--white);
    line-height: 2.1;
}
.quick-link ul li:hover{
    text-decoration: underline;
}
.product ul li:hover{
    text-decoration: underline;
}
.support ul li:hover{
    text-decoration: underline;
}


.footer ul a{
    list-style: none;
    text-decoration: none;
}
.follow .fa{

    font-size: 25px;
    color: var(--lightblue);
}

.mobile{
    border: 1px solid;
    background-color: var(--white);
    padding: 5px 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mobile .fa{
    color: var(--darkblue);
    font-size: 49px;
}
.mobile-text a{
    text-decoration: none;
    color: var(--white);

}
.mobile-text h5{
    color: var(--white);
}
.phone{
    border: 1px solid;
    background-color: var(--white);
    padding: 5px 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.phone .fa{
    color: var(--darkblue);
    font-size: 49px;
}
.phone-text a{
    text-decoration: none;
    color: var(--white);
}
.phone-text h5{
    color: var(--white);
}


.email-icon{
    border: 1px solid;
    background-color: var(--white);
    padding: 15px 25px;
    border-radius: 50%;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-icon .fa{
    color: var(--darkblue);
    font-size: 35px;
}
.email-icon-text a{
    text-decoration: none;
    color: var(--white);

}
.email-icon-text h5{
    color: var(--white);
}

.footer-address {
    background-color:#235898;
}

.copyright{
    background-color: var(--footer);
    color: var(--white);
}

.products{
    background-color: var(--lightblue);
    /* height: 600px   ; */
}


.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: 1px solid --lightblue;
}


.product-card a{
    text-decoration: none;
    color: var(--black);


}

.product-card img{
    /* width: 150px !important; */
    /* height: 140px; */
    -webkit-filter: grayscale(1);
}   




.icon .fa{
    background-color: var(--orange);
    border-radius: 100px;
    color: var(--white);
    padding: 10px 14px;
    font-size: 25px;
    font-weight: 300;
    display: none;
}
.product-card:hover .icon .fa{
    background-color: var(--orange);
    border-radius: 100px;
    color: var(--white);
    /* padding: 10px 14px; */
    font-size: 25px;
    font-weight: 300;
    transform: translate(0px, 25px); /* Optional: Add movement to the icon */

    display: block;
}
.product-card :hover{
    -webkit-filter:contrast(1);
    
}
.product-card:hover{
    padding: 5px;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--white);
    transition:   ease-in-out;
    -webkit-filter:contrast(1);

}
.email-icon-text a:hover{
    text-decoration:underline;
    color: var(--white);

}
.phone-text a:hover{
    text-decoration:underline;
    color: var(--white);

    
}
.mobile-text a:hover{
    text-decoration:underline;
    color: var(--white);

}












@media (min-widht:300px) and(max-width:600px){
    .home .nav-link{
        border: none;
    }


    
}
